<div class="container">
    <header>Trident</header>
    <img src="../../../assets/Logo/darkLogo2.jpeg">
    <div class="storeData">Available products in our store: {{productsCounter}}</div>
    <div class="storeData">Number of orders submitted in our store: {{ordersCounter}}</div>
    <div *ngIf="authService.currentUser">
        <div class="cartData" *ngIf="cart?.products.length">
            You have an open cart of {{cart.total_price}}$ from {{moment(cart.date).format("DD/MM/YYYY")}}
        </div>
        <div class="cartData" *ngIf="!cart?.products.length && orders?.length">Your last order was on
            {{moment(orders[orders.length - 1].order_date).format("DD/MM/YYYY")}}</div>
        <div class="cartData" *ngIf="!cart?.products.length && !orders?.length">Welcome
            {{authService.currentUser?.first_name}}</div>
    </div>
</div>