.container {
    background-color: rgb(4, 35, 66);
    width: 90%;
    height: 100%;
    color: white;
    font-weight: lighter;
    text-align: center;
    padding: 5vh;
    border-radius: 15px;
}

img {
    width: 100%;
    margin: 0 auto;
    margin-top: 2vh;
}

header {
    font-size: 8vh;
}

.storeData {
    margin: 2vh;
    font-size: 2vh;
}