.container {
    width: 60%;
    margin: 5vh auto;
    padding-bottom: 10vh;
}

.avatar {
    background-image: url('https://tridentmarinesports.herokuapp.com/public//logo/darkLogo2.jpeg');
    background-size: cover;
    width: 5vw;
    height: 5vw;
}

.admin {
    text-align: center;
    font-size: 5vh;
    padding: 5vh;
}

header {
    font-size: 3vh;
    margin: 1vh;
}

.tableContainer {
    width: 100%;
    max-height: 40vh;
    flex-wrap: wrap;
    overflow: auto;
}

.orders {
    width: 100%;
    background-color: rgb(247, 247, 247);
}

.actions {
    text-align: center;
}